@media (max-width: 850px) {
    .left_menu {
        display: none;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .more_item {
        align-items: center;
    }

    .mobile-nav{
        display: block;
        background-color: white;
    }
}

@media (max-width: 590px) {
    .item {
        width: auto;
        flex-direction: column-reverse;
        align-items: center;
    }

    .left-content img[alt="airlines-logo"] {
        display: none;
    }

    .left-content {
        height: 102px;
        border-right: none;
    }

    .right-content {
       
        padding-bottom: 16px;
        border-bottom: 1px solid #d2d5d6;
    }

}


@media (max-width: 370px) {
    .right-content {
        padding: 24px 4px;
        width: 298px;
        padding-right: 4px;
    }
    .sending{
        width: 100%;
    }
    .plane{
        text-align: center;
        display: inline-flex;
        height: 100%;
    }

    .arrival {
        width: 100%;
    }

    .line-n {
        width: 62px;
        margin-left: 0px;
    }
}